@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Mono', monospace;

}
#main{
    background-color: hsl(356, 100%, 66%);
    padding: 2rem 8rem;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
}

#navbar li{
    margin: 2rem;
    color: white;
}


#link{
    color: white;
    padding-right: 1rem;
    text-decoration: none;
}
.btn{
    padding: 0.4rem 2rem;
    border-radius: 1rem;
    border: none;
    background-color: white;
}

#btn-link-main{
    text-decoration: none;
    color: hsl(356, 100%, 66%);
}

#main-text{
    margin-bottom: 5rem;
}
#main-text h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}

#main-text p{
    color: white;
    text-align: center;
    margin-top: 1.5rem;
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#btn-main-1{
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: white;
    margin-right: 1rem;

}

#btn-main-2{
    background-color: hsl(356, 100%, 66%);
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
    border: solid white 2px;

}

#btn-link-main-text-1{
    color: hsl(356, 100%, 66%);
    text-decoration: none;
}

#btn-link-main-text-2{
    color: white;
    text-decoration: none;
}